server:
  port: 8888

spring:
  application:
    name: lubase-configure
  cloud:
    config:
      server:
        git:
          uri: https://github.com/yourusername/springcloud-config-repo
          search-paths: config-files
          username: yourusername
          password: yourpassword
        native:
          search-locations: classpath:/config
  profiles:
    active: native

eureka:
  client:
    service-url:
      defaultZone: http://discovery:8761/eureka/
  instance:
    prefer-ip-address: true

logging:
  level:
    root: INFO
    org.springframework.cloud: DEBUG
