# Gateway服务配置
server:
  port: 7573
spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: uaa-route
          uri: lb://uaa-service
          predicates:
            - Path=/uaa/**
        - id: product-route
          uri: lb://product-service
          predicates:
            - Path=/product/**
      discovery:
        locator:
          enabled: true
eureka:
  client:
    service-url:
      defaultZone: http://discovery:8761/eureka/
  instance:
    prefer-ip-address: true
logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: DEBUG
